<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Emonie</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/diary" routerLinkActive="active">Diary</a>
      <a class="nav-link" routerLink="/todo" routerLinkActive="active">Todo</a>
      <a class="nav-link" routerLink="/consultation" routerLinkActive="active">Consultation</a>
      <button class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
  </div>
</nav> 